<app-header></app-header>

<div class="emailFormContainer">
    <form>
        <h2>Send me a message</h2>
        <div class="form-row">
            <div class="formLabelContainer">
                <label class="form__label">Name</label>
            </div>
            <div class="formInputContainer">
                <input type="text" class="form__input" required>
            </div>
        </div>
        
        <div class="form-row">
            <div class="formLabelContainer">
                <label class="form__label">Email Address</label>
            </div>
            <div class="formInputContainer">
                <input type="email" class="form__input" required>
            </div>
        </div>

        <div class="form__messageContainer">
            <textarea placeholder="You can type your Message or Query here." required></textarea>
        </div>
        
        <div class="emailForm__btnContainer">
            <button class="emailForm__button">Submit</button> 
        </div>
    </form>
</div>

<app-footer></app-footer>