/* ABOUT -> INFO */
.aboutInfoContainer {
    height: fit-content;
    width: auto;
}

.aboutInfo {
    max-width: 800px;
    margin-inline: auto;
    display: flex;
}

.aboutInfo__imageContainer {
    height: 100%;
    width: 30%;
    margin: auto 1rem;
}
.aboutInfo__image {
    height: 100%;
    width: 100%;
    border: 2px solid gold;
    border-radius: 1rem;
}

.aboutInfo__textContainer {
    height: 100%;
    width: 60%;
    padding: 2rem;
}
.aboutInfo__textContainer p {
    margin: 0.5rem 0;
}

/* ABOUT -> EDU BACKGROUND */
.educationContainer {
    height: fit-content;
    width: auto;
}

.Title {
    width: 100%;
    padding: 0.5rem;
}
.Title h2 {
    text-align: center;
}

.eduBGcards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eduBGcard {
    background-color: #3a7bd5dc;
    height: 300px;
    width: 500px;
    margin: 1rem;
    display: flex;
    border-radius: 16px 0;
    border: 2px solid #00d0ffd4;
    box-shadow: 4px 8px 6px #3a7bd5dc;
}
.eduBGcard__imageContainer {
    height: 100%;
    width: 100%;
    border-radius: 16px 0 16px 0;
}
.eduBGcard__image {
    height: 100%;
    width: 100%;
    border-radius: 16px 0 16px 0;
}

/* ABOUT -> TECH STACK */
.techStackContainer {
    height: fit-content;
    width: auto;
    margin-block: 2.5rem;
}

.techStack {
    max-width: 800px;
    padding: 1rem;
    margin-inline: 10rem;
    margin-inline: auto;
    border-radius: 8px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.8);
}

.techStackBar {
    height: 40px;
    width: 90%;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    border: 2px solid #3a7bd5dc;
    background-color: #5280d0;
    display: flex;
}

.techStackBar__nameContainer {
    height: 100%;
    width: 20%;
    border-radius: 0.5rem;
}
.techStackBar__name {
    height: 100%;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.techStackBar__progressContainer {
    height: 100%;
    width: 80%;
    border-radius: 0.5rem;
}
.techStackBar__progress {
    height: 100%;
    background-color: #1b1d5e;
    border-radius: 0.5rem;
}

.progress-80 {
    width: 80%;
}
.progress-70 {
    width: 70%;
}
.progress-60 {
    width: 60%;
}
.progress-50 {
    width: 50%;
}


@media only screen and (max-width: 767.99px) {
    .eeddiitt {
        width: 40%;
        margin: 0.5rem auto;
    }
}
@media only screen and (max-width: 555.99px) {
    .aboutInfo {
        flex-direction: column;
    }
    .aboutInfo__imageContainer {
        height: 100%;
        width: 100%;
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
    }
    .aboutInfo__image {
        width: 60%;
    }
    .aboutInfo__textContainer {
        height: 100%;
        width: 100%;
        padding: 1.25rem;
    }
    .aboutInfo__textContainer p:first-child {
        text-align: center;
    }
}