<app-header></app-header>
<section class="aboutInfoContainer">
    <div class="aboutInfo">
        <div class="aboutInfo__imageContainer">
            <img src="../../../PortfolioWebApp_files/Tshepo Masuku Profile Picture.jpg" alt="ProfilePic" class="aboutInfo__image">
        </div>
        <div class="aboutInfo__text">
            <p> 
                Hi my name is Tshepo Masuku. <br > I'm a 26 year old web developer who was born, raised and currently residing in Soweto. 
            </p>
            <p> 
                I'm a person who is reserved, ambiverted and a deep thinker that loves learning skills that improve my life experience. I 
                enjoy activities that stimulate my mind, body and spirit. I'm also a big movie, series and anime geek. A big fan of 
                thought-provoking documentaries that grow and expand my awareness of our world. I'm also a tech geek who is currently 
                learning and constantly improving my web development skills after being inspired by the tons of websites which I have 
                visited ever since I could surf the net.
            </p>
            <p > 
                I began to learn programming by learning Python in order to become a Software Developer/Engineer and I ended up learning 
                Javascript to then pursue a career in web development because rather than always being logical and tiring my brains out, I 
                could also be creative and artistic plus I also loved seeing my code in the browser as I made changes to it interactively 
                being the graphical representaion of something that I had programmed without being a professional or an experienced 
                developer in the web development industry. 
            </p>
        </div>
    </div>
</section>

<section class="educationContainer">
    <div class="Title">
        <h2>Educational Background</h2>
    </div>
    <div class="eduBGcards">
        <div class="eduBGcard">
            <div class="eduBGcard__imageContainer">
                <img src="../../../PortfolioWebApp_files/UC-58b08a91-4d6b-415b-ae0b-27f1845895d3.jpg" alt="Udemy-Cert1" class="eduBGcard__image">
            </div>
        </div>
        <div class="eduBGcard">
            <div class="eduBGcard__imageContainer">
                <img src="../../../PortfolioWebApp_files/UC-375cd207-04bd-4c92-9148-cd6d7692b19d.jpg" alt="Udemy-Cert2" class="eduBGcard__image">
            </div>
        </div>
        <div class="eduBGcard">
            <div class="eduBGcard__imageContainer">
                <img src="../../../PortfolioWebApp_files/UC-6bcb4ea8-4462-43e1-885f-4e9155ce61b6.jpg" alt="Udemy-Cert3" class="eduBGcard__image">
            </div>
        </div>
    </div>
</section>

<section class="techStackContainer">
    <div class="techStack">
        <div class="Title">
            <h2>My Tech Stack</h2>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">HTML</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-80"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">CSS</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-80"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">Bootstrap</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-80"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">Javascript</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-60"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">React.js</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-60"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">SQL</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-60"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">Python</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-50"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">Adobe XD</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-60"></div>
            </div>
        </div>
        <div class="techStackBar">
            <div class="techStackBar__name">Figma</div>
            <div class="techStackBar__progressContainer">
                <div class="techStackBar__progress-50"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>