<footer class="footer">
    <div class="footer__contactme">
        <a href="tel:+27812585187">
            <img class="icon" src="https://img.icons8.com/flat-round/64/phone.png" alt="phone"/>
        </a>
        <a href="mailto:tshepomasuku16@gmail.com" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new"/>
        </a>
        <a href="https://t.me/ener_ki" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/48/telegram-app--v1.png" alt="telegram-app--v1"/>
        </a>
    </div>
    <div class="footer__text">
        <p >Ohh you can contact me, up here!</p>
    </div>
</footer>
