<footer class="footer">
    <div class="footer__contactme">
        <a href="tel:+27812585187">
            <img  src="./PortfolioWebApp_files/phone.png" alt="phone" class="icon">
        </a>
        <a href="mailto:tshepomasuku16@gmail.com" target="_blank">
            <img  src="./PortfolioWebApp_files/gmail-new.png" alt="gmail-new" class="icon"></a>
        <a href="https://t.me/ener_ki" target="_blank">
            <img  src="./PortfolioWebApp_files/telegram-app--v1.png" alt="telegram-app--v1" class="icon">
        </a>
    </div>
    <div  class="footer__text">
        <p >Ohh you can contact me, up here!</p>
    </div>
</footer>
