header {
    height: 6.5rem; 
    width: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 100%;
    width: 40%;
    margin: 0.5rem 1rem;
}
.logo__image {
    height: 100%;
    width: 12.5rem;
}

nav {
    height:100%; 
    width: 60%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 767.99px) {
    header {
        height: 4rem; 
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 30%;
        margin: 0.25rem 0.5rem;
    }
    .logo__image {
        height: 100%;
        width: 10rem;
    }
    nav a h2 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 499.99px) {
    header {
        height: 2.5rem; 
    }
    .logo {
        width: 20%;
        margin: 0.125rem 0.5rem;
    }
    .logo__image {
        height: 100%;
        width: 6rem;
    }
    nav a h2 {
        font-size: 0.5rem;
    }
}