<app-header></app-header>
<section class="banner">
    <img src="assets/Tshepo Masuku Profile Banner.jpg" alt="banner">
</section>
<section class="homeContainer">
    <div class="home__text">
        <h2 class="home__text-header">Welcome to my Portfolio</h2>
        <img class="home__image" src="assets/Tshepo Masuku Profile Picture.jpg" alt="ProfilePic">
        <div class="home__imageContainer">
        </div>
        <p>
            A web developer who was born, raised and currently residing in Soweto. 
        </p>
    </div>
</section>
<app-footer></app-footer>