<app-header></app-header>

<div class="projectsContainer">
    <div class="projectCardsContainer">
        <div class="projectCard">
            <div class="projectCard__imageContainer">
                <img class="projectCard__image" src="../../../assets/Loruki.png" alt="Loruki">
            </div>
            <div class="projectCard__info">
                <h3 class="projectCard__title">Loruki</h3>
                <p class="projectCard__description">
                    This is a Heroku inspired responsive web-app clone.
                </p>
                <p class="projectCard__techStack">Tech Stack: HTML & CSS</p>
                <div class="projectCard__iconLink">
                    <a href="https://lucent-baklava-2c195c.netlify.app/index.html" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/external-link.png" alt="external-link"/> View Project 
                    </a>
                </div>
                <div class="projectCard__iconLink">
                    <a href="https://github.com/TshepoMasuku/Loruki" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/github.png" alt="github"/> GitHub Code
                    </a>
                </div>
            </div>
        </div>
        <div class="projectCard">
            <div class="projectCard__imageContainer">
                <img class="projectCard__image" src="../../../assets/StarWars-starz.PNG" alt="SW-Starz">
            </div>
            <div class="projectCard__info">
                <h3 class="projectCard__title">Star Wars: Starz</h3>
                <p class="projectCard__description">
                    This web-app displays Star Wars stars within cards that show their various characteristics.
                </p>
                <p class="projectCard__techStack">Tech Stack: HTML, CSS, JS & React</p>
                <div class="projectCard__iconLink">
                    <a href="https://tshepomasuku.github.io/sw-starz/" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/external-link.png" alt="external-link"/> View Project 
                    </a>
                </div>
                <div class="projectCard__iconLink">
                    <a href="https://github.com/TshepoMasuku/sw-starz" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/github.png" alt="github"/> GitHub Code
                    </a>
                </div>
            </div>
        </div>
        <div class="projectCard">
            <div class="projectCard__imageContainer">
                <img class="projectCard__image" src="../../../assets/SmartBrain-feycbox.PNG" alt="FeycBox">
            </div>
            <div class="projectCard__info">
                <h3 class="projectCard__title">Face Box</h3>
                <p class="projectCard__description">
                    Face detection web-app: <br>
                    By simply draging/uploading a picture with a single person in it this app 
                    should be able to detect the person's face in that picture.
                </p>
                <p class="projectCard__techStack">Tech Stack: HTML, CSS, Tachyons, JS & React</p>
                <div class="projectCard__iconLink">
                    <a href="https://feycbox.vercel.app/" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/external-link.png" alt="external-link"/> View Project 
                    </a>
                </div>
                <div class="projectCard__iconLink">
                    <a href="https://github.com/TshepoMasuku/feycbox" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/github.png" alt="github"/> GitHub Code
                    </a>
                </div>
            </div>
        </div>
        <div class="projectCard">
            <div class="projectCard__imageContainer">
                <img class="projectCard__image" src="../../../assets/CrwnClothing.png" alt="CrwnCloth!ng">
            </div>
            <div class="projectCard__info">
                <h3 class="projectCard__title">Crwn Cloth!ng</h3>
                <p class="projectCard__description">
                    This is an e-commerce prototype for an online clothing brand.
                </p>
                <p class="projectCard__techStack">Tech Stack: HTML, CSS, JS, React & Firebase</p>
                <div class="projectCard__iconLink">
                    <a href="https://profound-chaja-258ec4.netlify.app/" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/external-link.png" alt="external-link"/> View Project 
                    </a>
                </div>
                <div class="projectCard__iconLink">
                    <a href="https://github.com/TshepoMasuku/CrwnClothing" target="_blank">
                        <img width="18" height="18" src="https://img.icons8.com/small/32/github.png" alt="github"/> GitHub Code
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>