/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00d0ffd4; 
    background: -webkit-linear-gradient(to top,#3a7bd5d4, #00d0ff45);
    background: linear-gradient(to top, #3a7bd5d4, #00d0ff45);
}

a {
    text-decoration: none; 
    color: black;
}