/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00d2ff; 
    background: -webkit-linear-gradient(to top,#3a7bd5dc, #00d0ffd4); 
    background: linear-gradient(to top, #3a7bd5dc, #00d0ffd4);
}

a {
    text-decoration: none; 
    color: black;
}